@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&family=Montserrat:wght@300;400;500&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
} 

:root{

    --first-color : #FF5200;
    --second-color : #002E6D;
    --footerHeader-color : #0D47A1;
    --third-color : #BEA187;
    --auther-firstColor : #167F8B;
    --auther-secondColor : #888888;
    --auther-thirdColor : #707070;
    --auther-fourthColor : #333378;
    --titleColor : #212529;
    --textColor : #272725;
    --ligne : #DBDCE4;
    --form-color: #7562e0;

    --font-title : constantia;
}

body{
    padding-top: 72px;
    font-family: 'Montserrat', sans-serif;
}

body a{
    text-decoration: none;
}

/*-----------realisation --------*/

.realisations{
    margin-top: 1rem;
}

.realisations-bloc-title{
    text-align: center;
}

.realisation-title{
    font-family: constantia;
    font-weight: bold;
    text-transform: uppercase;
}

.ligne-realisation-content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ligne-realisation{
    width: 130px;
    height: 6px;
    background-color: var(--first-color);
}

.card-img-top:hover{
    width: 356px;
    height: 166px;
}

.realisation-texte{
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: constantia;
}

.card-projet{
    margin-top: 15px;
}

/*--------- MODAL -------------*/

.realisation-container{
    margin-bottom: 3rem;
}

.modal-body h5{
    font-family: constantia;
    font-weight: bold;
}

.modal-title{
    text-transform: uppercase;
    font-family: constantia;
    font-weight: bold;
}

.ligne-client{
    width: 50px;
    height: 3px;
    background-color: var(--first-color);
    margin-bottom: 1rem;
}

.card{
    margin-bottom: 10px;
}

.card-body{
    position: relative;
}

.modal-footer{
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-card-projet{
    background-color: var(--footerHeader-color);
    color: white;
    position: absolute;
    right: 1.6rem;
    width: 300px;
    font-family: constantia;
    font-size: 16px;
    font-weight: bold;
}

.btn-card-projet:hover{
    color: var(--third-color);
}

.btn-details{
    background-color: var(--footerHeader-color);
    color: white;
    position: absolute;
    font-family: constantia;
    font-weight: bold;
}

.btn-details a{
    color: white;
}

.btn-ferme{
    background-color: #BEA187;
    color: white;
    font-family: constantia;
    position: absolute;
    right: 12rem;
    font-weight: bold;
}

.btn-popup:hover, .btn-details:hover, .btn-ferme:hover{
    color: white;
    font-size: 17px;
}